<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnu.cn.mapper.ProfileMapper">
    <insert id="insertBookByUser">
insert into book_all(`image`,`title`,`author`,`price`,`cate_id`,`user_id`,`collect`,`num`,`number`,`flag`)
values (#{image},#{title},#{author},#{price},#{cate_id},#{userId},#{collect},#{num},#{number},#{flag})
</insert>
    <delete id="deleteUserCollectById">
        delete from user_collect where collect_id = #{collect_id}
    </delete>


    <select id="getUserCollectBook" resultType="com.gpnu.cn.bean.Book">
        select book_all.id,user_collect.collect_id,book_all.image,book_all.title,user_collect.seller_id,book_all.price,book_all.author
        FROM book_all
                 INNER JOIN user_collect ON book_all.id = user_collect.book_id
        WHERE user_collect.user_id = #{user_id} and book_all.number!=0
    </select>
    <select id="getUserOrder" resultType="com.gpnu.cn.bean.Book">
        select book_all.id,user_order.num,user_order.order_id,book_all.image,book_all.title,user_order.seller_id,user_order.price,book_all.author
        FROM book_all
                 INNER JOIN user_order ON book_all.id = user_order.book_id
        WHERE user_order.user_id = #{user_id}
    </select>
    <select id="getUserCart" resultType="com.gpnu.cn.bean.Book">
        select book_all.id,book_all.num,book_all.number ,book_all.image,book_all.title, book_all.price,book_all.author,user_cart.seller_id
        FROM book_all
                 INNER JOIN user_cart ON book_all.id = user_cart.book_id
        WHERE user_cart.user_id = #{user_id} and book_all.number!=0
    </select>

    <select id="getUserOrderComplete" resultType="com.gpnu.cn.bean.Book">
        select book_all.id,user_order_complete.complete_id,user_order_complete.num,book_all.image,book_all.title, user_order_complete.price,book_all.author
        FROM book_all
                 INNER JOIN user_order_complete ON book_all.id = user_order_complete.book_id
        WHERE user_order_complete.user_id = #{user_id}
    </select>

    <select id="getBookByComplete" resultType="com.gpnu.cn.bean.Book">
        select book_all.id,user_order_complete.complete_id,user_order_complete.num,book_all.image,book_all.title, user_order_complete.price,book_all.author
        FROM book_all
                 INNER JOIN user_order_complete ON book_all.id = user_order_complete.book_id
        WHERE user_order_complete.seller_id= #{seller_id}
    </select>

</mapper>